In [1]:
import sqlite3

In [2]:
# connection objects represent the database, to access a database first construct a connection

conn = sqlite3.Connection('example.db')

In [3]:
#  database cursor - used to manage the context of a fetch operation

c = conn.cursor()

c.execute('''CREATE TABLE employees (first_name text, second_name text, ID int)''')
c.execute('''INSERT INTO employees VALUES ('Mahmud', 'Siraj', 1)''')

# save the changes
conn.commit()

In [16]:
# to prevent SQL injection use DB-API parameter substitution

t = [('Liva', 'Sikder', 2), ('Shaheda', 'Siraj', 3), ('Cristiano', 'Ronaldo', 4)]

c.executemany('''INSERT INTO employees VALUES (?,?,?)''', t)

In [18]:
# To retrieve data after executing a SELECT statement:
#
#    1. Treat the cursor as an iterator 
#    2. Call the cursorâ€™s fetchone() method to retrieve a single matching row
#    3. Call fetchall() to get a list of the matching rows.


for row in c.execute('''SELECT * FROM employees'''):
    print(row)

('Mahmud', 'Siraj', 1)
('Liva', 'Sikder', 2)
('Liva', 'Sikder', 2)
('Shaheda', 'Siraj', 3)
('Cristiano', 'Ronaldo', 4)

In [19]:
# Create a custom aggregate function

class MySum:
    def __init__(self):
        self.count = 0
        
    def step(self, value): #the me
        self.count += value
        
    def finanlize(self):
        return self.count